<h4>All Orders</h4>
<table>
  <tr>
    <th>#</th>
    <th>User</th>
    <th>Total Items</th>
    <th>Total Amount</th>
  </tr>
  <% orders.forEach((order, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= order.userId?.email %></td>
      <td><%= order.items.length %></td>
      <td>$<%= order.totalAmount %></td>
    </tr>
  <% }) %>
</table>
