 <div id="chat-widget" class="chatbot-popup z-depth-3">
<!-- ChatBot Header  -->
 <div class="chat-header">
    <div class="header-info">
        <img class="chatbot-logo" src="/images/chatbot.png" width="50" height="50" />
        <p class="chatbot-logo-text">Chatbot</p>
    </div>
    <button id="close-chatbot" onclick="toggleChat()" class="material-symbols-rounded"><i class="material-icons">arrow_drop_down</i></button>
 </div>

 <!--Chatbot main container-->
<div id="chat-main-container" style="display: block;">

    <!-- ChatBot Body  -->
<div class="chat-body">
    <div class="message bot-message">
        <img class="bot-avatar" src="/images/chatbot.png" width="50" height="50" />
        <div class="message-text">Hey there <br /> How can I help you today?</div>
    </div>
    <div class="message user-message">
        <div class="message-text">Give me suggestion to wear with black formal shoes</div>
    </div>
    <div class="message bot-message thinking">
        <img class="bot-avatar" src="/images/chatbot.png" width="50" height="50" />
        <div class="message-text">
            <div class="thinking-indicator">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>

<!-- ChatBot Footer  -->
<div class="chat-footer">
<form action="#" class="chat-form">
    <textarea placeholder="Message...." id="" class="message-input" required></textarea>
    <div class="chat-controls">
    <button type="button" class="material-symbols-rounded"><i class="material-icons">send</i></button>
    <button type="button"  class="material-symbols-rounded"><i class="material-icons">send</i></button>
    <button type="submit" class="material-symbols-rounded" id="send-message"><i class="material-icons">send</i></button>

    </div>
</form>
</div>

</div>

</div>
